@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width: 47%;
    border:1px solid #bbb;
    margin-top: 40px;
    float: right;

}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}
.actionBox .form-group .form-control {
    width:467px;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:400px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-row;
}

.commentList .close{
    border: none; 
    background: white; 
    outline: none;
    margin-right: 14px;
}

.commentName b {
    font-family: Comic Sans MS;
    color: #3399ff;
    margin-left: 2px;
}
span.commentText {
    margin-left: 7px;
}
.sub-text {
    /*margin-left: 2px;*/
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.titleBox span{
    font-size: 20px;
}
.titleBox span.glyphicon-comment{
    margin-left: 20px;
}